.github/
.git/
.github/workflows/
*.code-workspace
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
out/
publish/
artifacts/
*.sln.iml
*.ipr
*.iws
*.nupkg
packages/
project.lock.json
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.vsix
*.db
*.db-journal
*.sqlite
*.sqlite3
TestResults/
coverage/
*.trx